.center-div {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(77, 77, 77); /* Change link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
}

.topbar-div {
  position: sticky;
  top: 0;
}



/* carousel styling */

.header-carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.cul {
  width: 100vw;
  margin: 0;

  display: flex;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  position: relative; /* Required for positioning child elements */
}

.cul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cul-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  /* Add styling for buttons */
}

.prev-button { left: 2.5%; }
.next-button { right: 2.5%; }

.cli {
  list-style-type: none;
  background-color: #eeeeee;
  border: 1px solid #dddddd;


  flex: 0 0 100%;
  scroll-snap-align: center;
  scrollbar-width: none;
}

.welcome-section {
  background-color: gray;
  width: 100%;
  height: 40%;

  margin-top: 2em;
}

.welcome-content {
  display: table;
  height: 100%;
}

.welcome-content div {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.welcome-content #welcome-left {
  padding: 2em;
  text-align: center;
}

.welcome-content div img {
  padding: 0 auto;
  height: 100%;
  object-fit:cover;
}

.welcome-content div p {
  color: white;
  text-align: justify;
}
.welcome-content div h1 {
  color: white;
  text-align: center;
  vertical-align: top;
}