.center-div {
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #b11919;
    opacity: 0;
    transition: opacity .5s; /* The transition effect */
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li span {
  color: rgb(77, 77, 77); /* Change link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
  cursor: pointer;
}

/*#region topbar*/

.topbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b11919; /* or your preferred color */

    position: sticky; /* or fixed if you want it to stay at top while scrolling */
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2em 2em rgba(0,0,0,0.25);
}

.top-bar-left ul,
.top-bar-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    gap: 1em;
    padding: 0.5vw;
}

.top-bar-left {
  padding-left: 1.5em;
}

.top-bar-right {
  padding-right: 1.5em;
}


.top-bar-left img {
    height: 3vw;
    width: auto;
    display: block;
    opacity: 0;
}

.top-bar-left button {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}


.top-bar-right span {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 0.5em;
    font-size: 125%;
    padding: 0.5em;

}

.top-bar-right span:hover {
    background-color: #5a0b0b50;
}

.show-on-small {
  display: none;
}

.nav-button svg {
  width: 48px;
  height: 48px;
}

.fullscreen-container {
    width: 100vw;
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b11919;
    padding: 20px;
    box-sizing: border-box;
    
    /* These make it overlay everything */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* very high z-index to ensure it's on top */
    
    /* Optional: prevent scrolling of content behind */
    overflow-y: auto; /* allows scrolling within the overlay if needed */

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, height 0.3s ease, visibility 0.3s ease;
}

.fullscreen-container.open {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.list-wrapper {
    width: 100%;

    padding: 30px;
    top: 0;
    left: 0;
    position:fixed;
}

.list-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.list-wrapper li {
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    font-weight:normal;
    line-height: 2em;
    font-size: 2em;

    background-color: #02020223;
    color: white;
    border-radius: 1em;
    transition: 
      background-color 0.3s ease,
      color 0.3s ease;
    font-weight: bold;
}



.list-wrapper li:hover {
  background-color: #00000044;
  cursor: pointer;
}

.list-wrapper li:active {
  background-color: #0000006c;
}


#logo-btn {
  cursor: pointer;
  background-image: url("res/sticker.png");
  background-size: contain;
  background-blend-mode:lighten;
  transition: background-color 0.3s ease;
  border-radius: 1em;
}

#logo-btn:hover {
  background-color: #5a0b0b50 /* Blue tint */

}

/* Optional: Hide on small screens */
@media (max-width: 900px) {
    .hide-on-small {
        display: none;
    }

    .show-on-small {
        display: block;
    }

    .top-bar-left {
        width: 100%;
    }

    .top-bar-right {
      display: none;
    }

    .top-bar-left img {
      height: 5em;
    }

    .top-bar-left ul {
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center
    }


}

/*#endregion*/



/*#region footer*/

.footer-section {
  background-color: #4e0b0b;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.footer-content {
  display: table;
  height: 100%;
  width: 100%;
}

.footer-content div {
  height: 100%;
  vertical-align: left;
  display: table-cell;
  width: 50%;
}


@media screen and (max-width: 900px) {
  .footer-content .footer-content-section {
    padding: 0.5em;
    text-align: center;
  }
}

@media screen and (min-width: 900px) {
  .footer-content .footer-content-section {
    padding: 2em;
    text-align: center;
  }
}

.footer-content div p {
  text-align: justify;
  color: white;
}

.footer-content div {
  color: white;
}

.footer-content div b
 {
  color: #ecca16;
}

.footer-content div b:hover
 {
  color: #caac14;
}

.footer-content div a
 {
  color: #ffffff;
}

.footer-content div a:hover
 {
  color: #acacac;
}

.footer-socials {
  display: table;
  width: 100%;
}

.footer-socials button {
  width: 3em;
  height: 3em;
  display: table-cell;
  float: left;
}

.footer-socials button img {
  filter: invert(100%);

  width: 75%;
  height: 75%;

  transition: filter 0.3s ease;
}

.footer-socials button img:hover {
  filter: invert(75%);
}

/*#endregion*/


/*#region header*/

.header-section {
  background-color: white;

  margin-top: 0;
  position: relative;
  overflow: hidden;
}



.header-content {
  position: relative; /* Add this */
  height: 100%; /* Add this */
  display: flex; /* Change from table */
  flex-direction: column;
  justify-content: flex-end; /* Pushes title to bottom */
}

.header-section .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: 1; /* Add this - puts image behind */
}

.header-section .image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

@media screen and (max-width: 900px) {
  .header-section {
      height: 75vh;
  }
}

@media screen and (min-width: 900px) {
  .header-section {
    height: 60vh;
  }

  .header-section .image-container img {
    object-position: 50% 50%;
  }
}


.header-section .image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(177, 25, 25, 1) 100%);
  z-index: 2; /* Add this - puts gradient on top of image */
}

.title-container {
  position: relative;
  z-index: 3; /* Add this - puts text on top of everything */

}

/* Rest of your CSS stays the same */

.header-section.yellow {
  background-color: #ecca16;
}

.header-section.yellow .image-container::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ecca16 100%);
}

.header-section.red {
  background-color: #b11919;
}

.header-section.red .image-container::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #b11919 100%);
}


.header-content div h1 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;
  font-size: 275%;
}

.line-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.line-text span {
  padding: 0 10px;

  font-size: 500%;
  line-height: 0.5em;
  font-weight: bold;
  color: white;
  font-family: serif;
}




.line-text::before,
.line-text::after {
  content: ""; 
  flex: 1; 
  border-top: 0.5vh solid white; 
}

.line-text::before {
  margin-right: 10px; /* Space between the left line and the text */
}

.line-text::after {
  margin-left: 10px; /* Space between the right line and the text */
}

/*#endregion*/

.text-section {
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 1em;
}

.text-section.yellow {
  background-color: #ecca16;
}

.text-section.red {
  background-color: #b11919;
}

.text-section.maroon {
  background-color: #4e0b0b;
}

.text-content {
  display: table;
  height: 100%;
}

.text-content div {


  height: 100%;
  vertical-align: top;
}

@media screen and (max-width: 900px) {
  .text-content div {
      width: 100%;
      height: 50%;
      margin-top: 1em;
      margin-bottom: 1em;
  }

  .text-content div {
    display: none;
  }

  .text-content .main-text-container {
    display: block;
  }
}

@media screen and (min-width: 900px) {

  .text-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .text-content div {
    display: table-cell;
    width: 50%;
    padding: 1.5em;
  }
}

.text-content div p {
  text-align: justify;
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
}
.text-content div h1 {
  color: white;
  text-align: center;
  vertical-align: top;
  font-weight: bolder;
}

.text-content img {
  display: block;
  padding: 0 auto;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  object-fit:cover;
  border-radius: 0.5em;

  max-width: 100%; /* Ensures the image does not exceed the container's width */
  height: auto;    /* Automatically adjusts height to maintain aspect ratio */
}