.center-div {
    text-align: center;
    justify-content: center;
    justify-items: center;
    text-justify:auto;

    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.center {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: rgb(77, 77, 77); /* Change link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make text bold */
}

.topbar-div {
  position: sticky;
  top: 0;
  z-index: 9999;
}



/* carousel styling */

.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  transition: color 0.1s 0ms;


  /* Add styling for buttons */
}

.prev-button:hover, .next-button:hover {
  color: white;
}

.prev-button:active, .next-button:active {
  color: rgb(187, 187, 187);
}

.carousel-btns svg {
  width: 48px;
  height: 48px;
}

.prev-button { left: 2.5%; }
.next-button { right: 2.5%; }

.header-carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 75vh;
}

.cul {

  max-height: 75vh;
  margin: 0;

  display: flex;

  overflow-x: scroll;
  overflow-y:hidden;
  scroll-snap-type: x mandatory;
  position: relative; /* Required for positioning child elements */
}


.cul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cul-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.cli {
  list-style-type: none;
  background-color: #eeeeee00;
  border: 1px solid #dddddd;
  

  flex: 0 0 100%;
  scroll-snap-align: center;
  scrollbar-width: none;
  position: relative;
}

.cli #center-img {
  object-fit: contain;

  display: block;
  max-height: 75vh;
  opacity: 1.0;
  margin-left: auto;
  margin-right: auto;

}

.cli #bg-img {

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;

  object-fit: contain;

  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1.0;
  filter: blur(4px);

}


.cli #main {

  position: absolute;
  top: 0px;
  left: 0px;

  width:auto;
  height: 100%;


}


.side-header-text {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.604);
  backdrop-filter: blur(10px);
  width: 45%;
  height: 90%;

  margin-top: auto;
  margin-bottom: auto;

  right: 2em;

  top: 2em;
  bottom: 2em;

  padding: 1em;
}



/* welcome section */

.welcome-section {
  background-color: gray;
  width: 100%;
  height: 40%;

  margin-top: 2em;
}

.welcome-content {
  display: table;
  height: 100%;
  margin-left: 1em;
  margin-right: 1em;
}

.welcome-content div {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: top;
}

.welcome-content #welcome-left {
  padding: 2em;
  text-align: center;
}

.welcome-content div img {
  padding: 0 auto;
  height: 100%;
  object-fit:cover;
}

.welcome-content div p {
  color: white;
  text-align: justify;
}
.welcome-content div h1 {
  color: white;
  text-align: center;
  vertical-align: top;
}